# Internal Git Metadata
.git
.gitignore
.gitattributes

# Dependencies & Local Data
node_modules
.env
data
*.log

# Build & Documentation Artifacts (Not needed at runtime)
Dockerfile
docker-compose.yml
README.md
LICENSE
assets/screenshots
